<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello, World!!</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>
    <form method="post" name="tarefasList">
            <label for="task">Sua Tarefa</label>

            <input type="text" name="task"/>
            
            <button type="submit">+</button>

    </form>



   <div class="tasks">
        <% for(let i = 0; i < tarefas.length; i++){ %>
        
        <p><%= tarefas[i] %> | <a href="/deletar/<%= i %>">X</a></p>
        
        <% } %>
   </div>
    
</body>
</html>