
 <%- include('partials/header.html') %>
 
<section class="noticia-destaque">
    <div class="imagem-destaque">
        <div class="overlay"></div>
        <div class="titulo-descriçao">
            <h2>Descubra novos horizontes</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum numquam voluptas vero unde quaerat similique at odit sapiente dicta enim porro vitae aut nisi fugit repellendus cumque quasi, quo soluta.</p>
        </div>
        <img src="../public/bg-1.jpg"/>
     </div>
</section>


<section class="outras-noticias">
    <div class="outros-titulos">
        <h2>Ultimas noticias</h2>
        <br>
        <div class="center">
            <div class="ultimas">
                <div class="box-ultimas">
                    <img src="../public/paisagem.png"/>
                    <h3>Estrelas a noite</h3>
                    <p>Venha apreciar a paisagem das estrelas</p>
                    <a href="/curtir-as-estrelas">Ler Mais...</a>
                </div>

                <div class="box-ultimas">
                    <img src="../public/paisagem.png"/>
                    <h3>Estrelas a noite</h3>
                    <p>Venha apreciar a paisagem das estrelas</p>
                    <a href="/curtir-as-estrelas">Ler Mais...</a>
                </div>

            </div>
            <div class="mais-lidas">
                <h3>Mais Lidas</h3>
                <div class="mais-lidas-noticias">
                    <div class="mais-lidas-single">
                        <img src="../public/paisagem.png"/>
                        <div class="texto-mais">
                            <h4>Natureza</h4>
                            <p>A importancia da natureza é o lorem ipsum dolor a sit, lorem dolor semet</p>
                        </div>


                        <div class="mais-lidas-single">
                            <img src="../public/paisagem.png"/>
                            <div class="texto-mais">
                                <h4>Natureza</h4>
                                <p>A importancia da natureza é o lorem ipsum dolor a sit, lorem dolor semet</p>
                            </div>
                    </div>


                    <div class="mais-lidas-single">
                        <img src="../public/paisagem.png"/>
                        <div class="texto-mais">
                            <h4>Natureza</h4>
                            <p>A importancia da natureza é o lorem ipsum dolor a sit, lorem dolor semet</p>
                        </div>
                </div>

                </div>
            
            </div>
        </div>
    </div>

</section>

<%- include('partials/footer.html') %>

</body>
</html>